@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: #dadada;
}

h1 {
  text-transform: uppercase;
}

header {
  background: url("../img/image1.jpg") no-repeat top;
  background-size: cover;
  height: 61rem;
}

.logo-small {
  display: none;
}

.large-text {
  display: none;
}

.logo {
  margin-top: 1rem;
  margin-left: .3rem;
  height: 130px;
}

.header-top {
  background: rgba(0, 0, 0, 0.6);
  height: 10rem;
  width: 100%;
  border-bottom: 4px solid #fff;
}

.header-top h1 {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #028f5b;
}

nav h3 {
  margin: 1.2rem 0;
}

.nav-hyphen {
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

.header-intro-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 178px 0 0 calc(100vw - 17px);
  border-color: transparent transparent transparent #dadada;
  margin-top: -11.1rem;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.intro {
  color: #028f5b;
}

.section-title {
  text-align: center;
  font-size: 3rem;
}

.main-text {
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 2rem;
}

.intro-diagram-img {
  background: url("../img/image2.jpg") no-repeat top;
  background-size: contain;
  height: 20.3vw;
  border: 4px solid #028f5b;
  border-bottom: none;
}

.intro-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  color: #fff;
  background: #028f5b;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: -.2rem;
  z-index: 2;
}

.download-short {
  display: none;
}

.intro-diagram-container a {
  text-decoration: none;
}

.intro-read:hover {
  color: #d6d6d6;
}

.intro-read h3 {
  margin: .8rem 0;
}

.arrow {
  margin-top: 1.3rem;
}

.read-more-info {
  background: #fff;
  margin-top: -.3rem;
  padding: .6rem 0 2rem 0;
  z-index: 2;
  border-right: 4px solid #028f5b;
  border-left: 4px solid #028f5b;
}

.read-more-text {
  color: #000;
  font-style: italic;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.intro-fab-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 178px calc(100vw - 17px) 0 0;
  border-color: #dadada transparent transparent transparent;
  z-index: 100;
  position: absolute;
}

.fab-part {
  background: #028f5b;
  color: #fff;
}

.fab-title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2.7rem;
  text-align: left;
}

.fab-description {
  width: 70%;
  margin: 0 auto;
}

.fab-right,
.fab-left {
  width: 50%;
}

.fab-left {
  margin-top: 16rem;
}

.fab-right {
  background: url("../img/image4.jpg") no-repeat;
  background-size: 100rem;
  height: 56rem;
}

.fab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4rem;
}

.fab-fluo-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 178px 0 0 calc(100vw - 17px);
  border-color: transparent transparent transparent #dadada;
  margin-top: -11.1rem;
  z-index: 100;
  position: absolute;
}

.fluo-container {
  color: #028f5b;
}

.fluo-title {
  margin-top: 3rem;
}

.fluo-text {
  text-align: center;
  margin-bottom: 2rem;
}

.fluo-table {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.fluo-bullet img {
  width: 3rem;
  margin-right: 3rem;
}

.table-sep {
  height: 2rem;
}

.fluo-table th {
  font-size: 3rem;
  text-transform: uppercase;
}

.fluo-table td {
  font-size: 1.3rem;
}

.sale {
  background: #028f5b;
}

.sale-text {
  font-size: 4.7rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  margin: 6rem 0;
}

.cell-container {
  color: #028f5b;
}

.lower-2 {
  font-size: 1.1rem;
}

.cell-table {
  margin: 0 auto;
  color: #fff;
  border-spacing: 0;
  margin-bottom: 4rem;
}

.cell-table th,
.cell-table td {
  padding: .6rem 1rem;
  margin: -.1rem;
}

.cell-table th {
  background: #028f5b;
  font-size: 2.5rem;
  text-align: left;
}

.cell-table td {
  font-size: 2rem;
}

.even-left {
  background: #59c37a;
}

.even-right {
  background: #bebebe;
}

.odd-left {
  background: #3faf62;
}

.odd-right {
  background: #a5a5a5;
}

.even-right,
.odd-right {
  color: #505050;
}

.cell-footer-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 178px calc(100vw - 17px) 0 0;
  border-color: #dadada transparent transparent transparent;
  margin-bottom: 3rem;
}

footer {
  background: #028f5b;
  color: #fff;
}

.footer-container {
  width: 55%;
  margin: 0 auto;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
}

.footer-container p {
  display: inline;
  margin-left: 1rem;
}

.footer-container h2 {
  font-size: 2.1rem;
}

.contact,
.references {
  width: 45%;
}

.references img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 2rem;
  display: inline-block;
}

.references h2 {
  margin-bottom: 2.5rem;
}

.ref-1 {
  margin-bottom: -1rem;
}

.ref-1 p,
.ref-2 p {
  display: inline-block;
  width: 83%;
}

.footer-icon {
  border: 3px solid #fff;
  border-radius: 50%;
  padding: .8rem;
  font-size: 2.2rem;
}

.email {
  margin-bottom: 3rem;
}

.advert {
  background: url("../img/image3.jpg") no-repeat top;
  background-size: 100vw;
  height: 12.3vw;
}

.bottom-advert {
  background: url("../img/bottom-ad.png") no-repeat top;
  background-size: 99.2vw;
  height: 24vw;
  display: none;
}

@media (max-width: 1725px) {
  .logo {
    height: 100px;
  }
  .header-top {
    height: 10vw;
  }
  .header-top h1 {
    font-size: 2.8vw;
  }
  .intro-read {
    font-size: 1.5rem;
    margin-top: -.2rem;
  }
  .sale-text {
    font-size: 4rem;
  }
  .footer-container h2 {
    font-size: 1.8rem;
  }
  .footer-icon {
    font-size: 1.7rem;
  }
  .footer-container p {
    margin-left: .5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1620px) {
  nav {
    font-size: 1.3rem;
  }
  .fab-title {
    font-size: 2.5rem;
  }
  .fab-description {
    font-size: 1.3rem;
  }
  .fab-fluo-triangle {
    margin-top: -11.1rem;
  }
  .fab-right {
    background-size: 100rem;
    height: 57rem;
  }
  .references img {
    width: 1.3rem;
  }
  .footer-container p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1400px) {
  .section-title {
    font-size: 2.3rem;
  }
  .main-text {
    font-size: 1.3rem;
  }
  .logo {
    height: 70px;
  }
  .header-top {
    height: 8vw;
  }
  .header-top h1 {
    font-size: 2.8vw;
    margin-top: 2.5vw;
  }
  nav {
    font-size: 1rem;
  }
  .intro-read {
    font-size: 1.2rem;
    margin-top: -.2rem;
  }
  .fluo-table th {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .fluo-table td {
    font-size: 1.1rem;
  }
  .sale-text {
    font-size: 3rem;
  }
  .lower-2 {
    font-size: .9rem;
  }
  .cell-table th {
    font-size: 1.9rem;
  }
  .cell-table td {
    font-size: 1.5rem;
  }
  .footer-icon {
    font-size: 1.3rem;
  }
  .footer-icon {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .3rem;
    font-size: 1.1rem;
  }
  .references h2 {
    margin-bottom: 2.1rem;
  }
  .references img {
    visibility: hidden;
  }
  .references p {
    margin-left: -1.6rem;
  }
}

@media (max-width: 1281px) {
  .header-intro-triangle,
  .fab-fluo-triangle {
    border-width: 178px 0 0 100vw;
  }
  .intro-fab-triangle,
  .cell-footer-triangle {
    border-width: 178px 100vw 0 0;
  }
}

@media (max-width: 1250px) {
  .fab-title {
    font-size: 2rem;
  }
  .fab-description {
    font-size: 1.1rem;
  }
  .fab-fluo-triangle {
    margin-top: -11.1rem;
  }
  .fab-right {
    height: 57rem;
  }
}

@media (max-width: 1110px) {
  .logo {
    height: 55px;
  }
  .download-full {
    display: none;
  }
  .download-short {
    display: initial;
  }
  .fab-title {
    font-size: 1.7rem;
  }
  .fab-description {
    font-size: 1rem;
  }
  .cell-table th {
    font-size: 1.5rem;
  }
  .cell-table td {
    font-size: 1.2rem;
  }
  .lower-2 {
    font-size: .7rem;
  }
  .footer-container {
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-container h1 {
    font-size: 1.6rem;
  }
  .footer-container p {
    font-size: 1.1rem;
  }
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
  .logo {
    height: 45px;
  }
  nav {
    font-size: .8rem;
  }
  .intro-diagram-img {
    height: 33vw;
  }
  .fab-fluo-triangle {
    margin-top: -11.1rem;
  }
  .fab-right {
    height: 65rem;
  }
}

@media (max-width: 790px) {
  .container {
    text-align: center;
  }
  .section-title {
    font-size: 2.2rem;
  }
  .main-text {
    font-size: 1.3rem;
    letter-spacing: .03rem;
    line-height: 1.7rem;
  }
  header {
    height: 35rem;
  }
  .logo {
    display: none;
  }
  .logo-small {
    display: initial;
    height: 100px;
    margin-left: .3rem;
    margin-top: .3rem;
  }
  .header-container {
    display: initial;
  }
  .header-top {
    height: 35rem;
    border: none;
  }
  .header-container h1:first-of-type {
    display: none;
  }
  .header-container h1:last-of-type {
    display: block;
    color: #fff;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 7.2vw;
    margin-top: 10vw;
  }
  nav {
    display: none;
  }
  .read-more-text {
    font-size: 1rem;
  }
  .fab-right {
    display: none;
  }
  .fab-left {
    width: 100%;
    margin-bottom: 15rem;
  }
  .fab-title,
  .fab-description {
    text-align: center;
    width: 90%;
  }
  .fluo-bullet img {
    width: 2rem;
    margin-right: 2rem;
  }
  .fluo-table th {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .fluo-table td {
    font-size: 1.2rem;
  }
  .sale-text {
    font-size: 2.5rem;
  }
  .footer-container {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    display: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5rem;
  }
  .contact,
  .references {
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .contact {
    margin-bottom: 5rem;
  }
  .references {
    padding-bottom: 4rem;
  }
  .ref-1 {
    margin-top: -2rem;
  }
  .footer-container p {
    font-size: 1.6rem;
  }
  .footer-container h2 {
    font-size: 2.1rem;
  }
  .advert {
    display: none;
  }
  .bottom-advert {
    display: block;
  }
}

@media (max-width: 540px) {
  .header-container h1:last-of-type {
    margin-top: 6rem;
  }
  .intro-diagram-img {
    height: 32.7vw;
  }
  .fluo-table th {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .fluo-table td {
    font-size: 1rem;
  }
  .contact,
  .references {
    width: 90%;
  }
}

@media (max-width: 390px) {
  .section-title {
    font-size: 2rem;
  }
  .main-text {
    font-size: 1rem;
  }
  .cell-table th {
    font-size: 1.35rem;
  }
  .cell-table td {
    font-size: 1.1rem;
  }
  .footer-container p {
    font-size: 1.2rem;
  }
  .footer-container h2 {
    font-size: 1.9rem;
  }
}
/*# sourceMappingURL=homepage.css.map */