.intro-fab-triangle {
    // margin-top: 4.5rem;
    @include right-to-left-triangle;
    z-index: 100;
    position: absolute;
}

.fab-part {
    // padding-top: .1rem;
    background: $green;
    color: #fff;
}

.fab-title {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2.7rem;
    text-align: left;
}

.fab-description {
    width: 70%;
    margin: 0 auto;
}

.fab-right, 
.fab-left {
    width: 50%;
}

.fab-left {
    margin-top: 16rem;
}

.fab-right {
    background: url("../img/image4.jpg") no-repeat;
    background-size: 100rem;
    height: 56rem;
}

.fab-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.fab-fluo-triangle {
    @include left-to-right-triangle;
    margin-top: -11.1rem;
    z-index: 100;
    position: absolute;
}