.header-intro-triangle {
    @include left-to-right-triangle;
    margin-top: -11.1rem;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.intro {
    color: $green;
}

.section-title {
    @include section-title;
}

.main-text {
    @include main-text;
}

.intro-diagram-img {
    background: url("../img/image2.jpg") no-repeat top;
    background-size: contain;
    height: 20.3vw;
    // width: 99%;
    border: 4px solid $green;
    border-bottom: none;
}

.intro-read {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    background: $green;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -.2rem;
    z-index: 2;
}

.intro-diagram-container a{
    text-decoration: none;
}

.intro-read:hover {
    color: rgb(214, 214, 214);
}

.intro-read h3 {
    margin: .8rem 0;
}

.arrow {
    margin-top: 1.3rem;
}

.read-more-info {
    background: #fff;
    // height: 6.6vw;
    margin-top: -.3rem;
    // height: 8rem;
    // visibility: hidden;
    padding: .6rem 0 2rem 0;
    z-index: 2;
    border-right: 4px solid $green;
    border-left: 4px solid $green;
}

.read-more-text {
    color: #000;
    font-style: italic;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 1.2rem;
}

// .intro-diagram-container:hover {
//     .read-more-info {
//         visibility: visible;
//     }
//     .intro-read {
//         transition: .5s ease;
//         margin-top: -15rem
//     }
// }