@mixin section-title {
    text-align: center;
    font-size: 3rem;
}

@mixin left-to-right-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 178px 0 0 99.15vw;
    border-color: transparent transparent transparent $offWhite;
}

@mixin right-to-left-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 178px 99.15vw 0 0;
    border-color: $offWhite transparent transparent transparent;
}

@mixin main-text {
    font-size: 1.5rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}